

<div class="signup">
  <%= form_for @user do |f| %>

  <h2>Sign Up</h2>

    <% if @user.errors.any? %>
      <b>Errors:</b>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

  <li>
    <%= f.text_field :name, placeholder: "name" %>
  </li>

  <li>
     <%= f.email_field :email, placeholder: "email" %>
   </li>

  <li>
    <%= f.password_field :password, placeholder: "password" %>
  </li>

  <li>
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
  </li>

    <%= f.submit "Submit", id: "submit" %>
  <% end %>
</div>
