
<h1><%= @events.count %> upcoming concerts </h1>
  <% @events_grouped.each do |date, events| %>
    <div class ="date">
      <h2><%= date %></h2>
      <% events.each do |event| %>
        <div class="listing">
          <% if signed_in? %>
            <%= form_tag(event_favorites_path(event), method: :post) do %>
              <%= submit_tag "+" %>
              <% end %>
            <% end %>
          <span class="event"><%= link_to event.title, event.seatgeek_url %></span><br>
          <%= link_to event.venue.name, venue_path(event.venue) %>
          <%= event.datetime_local.strftime("%l:%M%p") %>
          <img src="<%= event.photo_url %>">
        </div>
    </div>
      <% end %>
  <% end %>
