
  <% @events_grouped.each do |date, events| %>
    <div class ="date">
      <h1><%= date %></h1>
      <% events.each do |event| %>
        <div class="listing">
          <% if signed_in? %>
            <%= form_tag(event_favorites_path(event), method: :post) do %>
              <%= submit_tag "Favorite" %>
              <% end %>
            <% end %>
          <%= event.title %>
          <%= link_to event.venue.name, venue_path(event.venue) %>
          <%= event.datetime_local.strftime("%l:%M%p") %>
        </div>
    </div>
      <% end %>
  <% end %>
