<h1>Personal Calendar</h1>

  <% @events_grouped.each do |date, events| %>
    <div class ="date">
      <h3><%= date %></h3>
      <% events.each do |event| %>
        <div class="listing">
          <%= event.title %>
          <%= link_to event.venue.name, venue_path(event.venue) %>
          <%= event.datetime_local.strftime("%l:%M%p") %>
          <% if signed_in? %>
            <%= form_tag(event_favorite_path(current_user, event.id), method: :delete) do %>
              <%= submit_tag "Delete" %>
            <% end %>
          <% end %>
        </div>
    </div>
      <% end %>
  <% end %>
