<% if signed_in? %>

  <li>
    <%= link_to "Personal Calendar", user_events_path(current_user) %>
  </li>

  <li>
    <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
      <%= f.submit "Sign Out", id: 'signout' %>
    <% end %>
  </li>

<% else %>

  <li>
    <%= link_to "Sign In", signin_path %>
  </li>

  <li>
    <%= link_to "Sign Up", signup_path %>
  </li>

<% end %>
