<!DOCTYPE html>
<html>
<head>
  <title>GigHub</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar" role="navigation">
  <ul>
    <li><%= link_to "Upcoming", root_path %></li>
    <%= render "common/signout" %>
  </ul>
  </div>
<div class="container">
  <div class="banner" role="banner">
    <h1>GigHub</h1>
  </div>

    <%= yield %>
</div>
</body>
</html>
